<div class="container">
    <section>
        <div class="filter-input">
            <input placeholder="Filter Repo Name or Description" type="text" (keyup)="filterRepoName($event)"
                *ngIf="repositories.length">
        </div>
        <div class="content">
            <table *ngIf="filteredRepositories.length; else noData">
                <thead>
                    <th *ngFor="let col of columns" (click)="sort(col.key, isReverseSort)"> {{col.label}} {{sortedColumn === col.key ? (isReverseSort ? '⬇' : '⬆') : ''}}</th>
                </thead>
                <tbody>
                    <tr *ngFor="let repo of filteredRepositories">
                        <td>{{ repo.owner }}</td>
                        <td>{{ repo.name }}</td>
                        <td [ngStyle]="{minWidth: '130px'}">{{ repo.description ? repo.description.length > 50 ? repo.description.substr(0, 50) + '...'
                            : repo.description : '' }}</td>
                        <td>{{ repo.stargazers_count }}</td>
                        <td>{{ repo.open_issues_count }}</td>
                        <td>{{ repo.watchers_count }}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noData>
                <p><em>No repositories yet !</em></p>
            </ng-template>
        </div>
    </section>
</div>